
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/LayoutPage.cshtml";
}

<!--ftop开始-->
<div class="ftop">
    <div class="index_search">
        @Html.Action("Select","Layout");
        <p>
            <a href="/Notice/Index">
                <img src="~/images/icon_05.png" />
                <sup>11</sup>
            </a>
        </p>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始-->
<!--banner start-->
<div class="swiper-container index_banner">
    <div class="swiper-wrapper">
        @*<div class="swiper-slide"><a><img src="~/images/index_banner.jpg" alt=""></a></div>
        <div class="swiper-slide"><a><img src="~/images/index_img01.jpg" alt=""></a></div>
        <div class="swiper-slide"><a><img src="~/images/banner.jpg" /></a></div>*@
        @foreach (var item in ViewBag.Banner)
        {
            <div class="swiper-slide">
                <a>
                  <img src="~/images/@item.Image" alt="">
                </a>
            </div>
        }
    </div>
    <div class="swiper-pagination swiper-index"></div>
</div>
<script>
	var swiper1 = new Swiper('.index_banner', {
		pagination: '.swiper-index',
		paginationClickable: true,
		loop: true,
		autoplay: 4000,
	});
</script>
<!--banner over-->
<div class="index_knowledge">
    @*<img src="images/icon_0902.png">*@
    <img src="~/images/icon_0902.png" />
    <div class="swiper-container dlist">
        <div class="swiper-wrapper">
            <a class="swiper-slide" href="gonggao_xq.html"><i>最新</i>水果中含丰富的抗氧化物质维生素E和微量元素，可以滋养皮肤，其美容效果可不容忽视</a>
            <a class="swiper-slide" href="gonggao_xq.html"><i>最热</i>水果除了含有我们已知的营养素外，还富含大量天然植物化合物</a>
            <a class="swiper-slide" href="gonggao_xq.html"><i>最新</i>由于水果中含有很多维生素，微量元素，所以还可以用来预防疾病</a>
        </div>
    </div>
</div>
<script>
  var swiper1 = new Swiper('.dlist', {
    loop: true,
    autoplay: 4000,
    direction : 'vertical'
  });
</script>
<div class="index_main">
    <p class="index_mtitle"> <a class="on" href="#">最新</a> <a href="#">推荐</a> <a href="index_xianshi.html">热销</a></p>
    <ul>
        @*<li>
            <a href="product_xq.html"><img src="~/images/index_img03.jpg"></a>
            
            <div class="product_text">
                <h2>
                    <p>特级云南冬虫夏草</p>
                    
                    <span><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_07.png"></span>
                </h2>
                <p>冬虫夏草又名虫草，是我国民间惯用的一种名贵滋补药材，其营养成分高于人参，可入药，也可食用，是上乘的佳肴，具有很高的营养价值。</p>
                <h3>
                    <p><i>￥</i><b>180.00</b><span>特级</span><span>甄选</span></p>
                    <a href="product_xq.html">立即购买</a>
                </h3>
            </div>
        </li>*@
        @foreach (var items in ViewBag.Product)
        {
            <li>
                <a href="product_xq.html"><img src="~/images/@items.images"></a>
                <div class="product_text">
                    <h2>
                        <p>@items.Name</p>

                        <span><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_07.png"></span>
                    </h2>
                    <p>@items.describe</p>
                    <h3>
                        <p><i>￥</i><b>@items.price</b><span>特级</span><span>甄选</span></p>
                        <a href="product_xq.html">立即购买</a>
                    </h3>
                </div>
            </li>
        }


        @*<li>
            <a href="product_xq.html"><img src="~/images/index_img02.jpg"></a>
            <div class="product_text">
                <h2>
                    <p>特级云南冬虫夏草</p>
                    <span><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_07.png"></span>
                </h2>
                <p>冬虫夏草又名虫草，是我国民间惯用的一种名贵滋补药材，其营养成分高于人参，可入药，也可食用，是上乘的佳肴，具有很高的营养价值。</p>
                <h3>
                    <p><i>￥</i><b>180.00</b><span>特级</span><span>甄选</span></p>
                    <a href="product_xq.html">立即购买</a>
                </h3>
            </div>
        </li>
        <li>
            <a href="product_xq.html"><img src="~/images/Orange.jpg"></a>
            <div class="product_text">
                <h2>
                    <p>特级云南冬虫夏草</p>
                    <span><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_06.png" /><img src="~/images/icon_07.png"></span>
                </h2>
                <p>冬虫夏草又名虫草，是我国民间惯用的一种名贵滋补药材，其营养成分高于人参，可入药，也可食用，是上乘的佳肴，具有很高的营养价值。</p>
                <h3>
                    <p><i>￥</i><b>180.00</b><span>特级</span><span>甄选</span></p>
                    <a href="product_xq.html">立即购买</a>
                </h3>
            </div>
        </li>*@
    </ul>
</div>
<div class="index_icon">
    <p>
        <span><img src="~/images/icon_01.png" /><i>品质保证</i></span>
        <span><img src="~/images/icon_02.png" /><i>送货保障</i></span>
        <span><img src="~/images/icon_003.png" /><i>7天包换</i></span>
        <span><img src="~/images/icon_04.png" /><i>质量保障</i></span>
    </p>
</div>


